---
---

$link-color: #a0f;
$bg-color: #fdfdfd;

body.remarkdown {
  font-family: Inconsolata, Menlo, Monaco, "DejaVu Sans Mono", Consolas, monospace;
  font-size: 18px;
  background: #eee;
  color: #333;
  min-width: 380px;

  ::before, ::after {
    opacity: .6;
    color: #205080;
  }
  
  .container {
    max-width: 700px;
    padding: 10px;
    margin: auto;
    background: $bg-color;
    border: 1px solid #ddd;
    @media (min-width: 300px) {
      padding: 20px 20px;
    }
    @media (min-width: 700px) {
      padding: 40px 80px;
    }
  }

  main > p > img {
    width: 100%;
  }
  
  h1 {
    font-weight: bold;
    font-size: larger;
    text-transform: capitalize;
  }
  h2 {
    font-weight: bold;
    &::before {
      color: #aaa;
    }
  }
  p code {
    color: #999;
  }
  a {
    color: $link-color;
    text-decoration: none;
    code {
      color: inherit;
    }
    &:active, &:focus {
      color: $bg-color;
      background-color: $link-color;
    }
    &:hover {
      border-bottom: 1px solid;
    }
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }
  ul {
    margin-left: 2ch;
    > li::before {
      margin-left: -2ch;
    }
    &.tags {
      display: inline;
      margin: initial;
      li {
        display: inline;
        list-style: none;
        background-color: lighten($color: $link-color, $amount: 20%);
        padding: 0.2em 0.3em;
        &::before {
          content: '';
        }
        a {
          color: $bg-color;
          &::after, &::before {
            content: '';
          }
        }
      }
    }
    &.task-list li.task-list-item {
      &::before {
        content: '';
        float: none;
        margin-left: -3.5ch;
      }
      input.task-list-item-checkbox {
        margin-right: 1ch;
      }
    }
  }
  li em + a {
    display: inline-block;
    border-bottom: 1px solid transparent;
  }
  time {
    color: #aaa;
  }
  article time {
    display: block;
    text-align: right;
  }
  input[type="search"] {
    border: 1px solid #777;
    font-family: inherit;
    font-size: smaller;
    padding: 0.2em;
    min-width: 150px;
    max-width: 350px;
    &:focus {
      border: 1px solid $link-color;
      width: calc(80vw - 200px);
    }
  }
  footer {
    font-size: smaller;
  }
  pre {
    overflow: auto;
    @media (max-width: 450px) {
      margin-left: 0ch;
    }

    code {
      @media (max-width: 450px) {
        font-size: 0.9em;
      }
    }
  }
}

.highlight {
  pre {
    background-color: #f8f8f8;
    padding: 6px 10px;
  }
  .hll {
    background-color: #f8f8f8;
    padding: 6px 10px;
  }
  .c {
    color: #999988;
    font-style: italic;
  }
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  .k, .o {
    font-weight: bold;
  }
  .cm {
    color: #999988;
    font-style: italic;
  }
  .cp {
    color: #999999;
    font-weight: bold;
  }
  .c1 {
    color: #999988;
    font-style: italic;
  }
  .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
  }
  .gd {
    color: #000000;
    background-color: #ffdddd;
    .x {
      color: #000000;
      background-color: #ffaaaa;
    }
  }
  .ge {
    font-style: italic;
  }
  .gr {
    color: #aa0000;
  }
  .gh {
    color: #999999;
  }
  .gi {
    color: #000000;
    background-color: #ddffdd;
    .x {
      color: #000000;
      background-color: #aaffaa;
    }
  }
  .go {
    color: #888888;
  }
  .gp {
    color: #555555;
  }
  .gs {
    font-weight: bold;
  }
  .gu {
    color: #800080;
    font-weight: bold;
  }
  .gt {
    color: #aa0000;
  }
  .kc, .kd, .kn, .kp, .kr {
    font-weight: bold;
  }
  .kt {
    color: #445588;
    font-weight: bold;
  }
  .m {
    color: #009999;
  }
  .s {
    color: #dd1144;
  }
  .n {
    color: #333333;
  }
  .na {
    color: teal;
  }
  .nb {
    color: #0086b3;
  }
  .nc {
    color: #445588;
    font-weight: bold;
  }
  .no {
    color: teal;
  }
  .ni {
    color: purple;
  }
  .ne, .nf {
    color: #990000;
    font-weight: bold;
  }
  .nn {
    color: #555555;
  }
  .nt {
    color: navy;
  }
  .nv {
    color: teal;
  }
  .ow {
    font-weight: bold;
  }
  .w {
    color: #bbbbbb;
  }
  .mf, .mh, .mi, .mo {
    color: #009999;
  }
  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx {
    color: #dd1144;
  }
  .sr {
    color: #009926;
  }
  .s1 {
    color: #dd1144;
  }
  .ss {
    color: #990073;
  }
  .bp {
    color: #999999;
  }
  .vc, .vg, .vi {
    color: teal;
  }
  .il {
    color: #009999;
  }
  .gc {
    color: #999;
    background-color: #EAF2F5;
  }
}