---
---

$link-color: #a0f;
$bg-color: #fdfdfd;

body.remarkdown {
  font-family: Inconsolata, Menlo, Monaco, "DejaVu Sans Mono", Consolas, monospace;
  font-size: 18px;
  background: #eee;
  color: #333;
  min-width: 380px;

  ::before, ::after {
    opacity: .6;
    color: #205080;
  }
  
  .container {
    max-width: 700px;
    padding: 10px;
    margin: auto;
    background: $bg-color;
    border: 1px solid #ddd;
    @media (min-width: 300px) {
      padding: 20px 20px;
    }
    @media (min-width: 700px) {
      padding: 40px 80px;
    }
  }
  
  h1 {
    font-weight: bold;
    font-size: larger;
    text-transform: capitalize;
  }
  h2 {
    font-weight: bold;
    &::before {
      color: #aaa;
    }
  }
  p code {
    color: #999;
  }
  a {
    color: $link-color;
    text-decoration: none;
    code {
      color: inherit;
    }
    &:active, &:focus {
      color: $bg-color;
      background-color: $link-color;
    }
    &:hover {
      border-bottom: 1px solid;
    }
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }
  ul {
    margin-left: 2ch;
    > li::before {
      margin-left: -2ch;
    }
    &.tags {
      display: inline;
      margin: initial;
      li {
        display: inline;
        list-style: none;
        background-color: lighten($color: $link-color, $amount: 20%);
        padding: 0.2em 0.3em;
        &::before {
          content: '';
        }
        a {
          color: $bg-color;
          &::after, &::before {
            content: '';
          }
        }
      }
    }
    &.task-list li.task-list-item {
      &::before {
        content: '';
        float: none;
        margin-left: -3.5ch;
      }
      input.task-list-item-checkbox {
        margin-right: 1ch;
      }
    }
  }
  li em + a {
    display: inline-block;
    border-bottom: 1px solid transparent;
  }
  time {
    color: #aaa;
  }
  article time {
    display: block;
    text-align: right;
  }
  input[type="search"] {
    border: 1px solid #777;
    font-family: inherit;
    font-size: smaller;
    padding: 0.2em;
    min-width: 150px;
    max-width: 350px;
    &:focus {
      border: 1px solid $link-color;
      width: calc(80vw - 200px);
    }
  }
  footer {
    font-size: smaller;
  }
  pre {
    overflow: auto;
    @media (max-width: 450px) {
      margin-left: 0ch;
    }

    code {
      @media (max-width: 450px) {
        font-size: 0.9em;
      }
    }
  }
}
