body.remarkdown {
  font-family: Inconsolata, Menlo, Monaco, "DejaVu Sans Mono", Consolas, monospace;
  font-size: 18px;
  background: #eee;
  color: #333;
  min-width: 380px;
}

.container {
  max-width: 700px;
  padding: 10px;
  margin: auto;
  background: #fdfdfd;
  border: 1px solid #ddd;
}

@media(min-width: 300px){
  .container {
    padding: 20px 20px;
  }
}

@media(min-width: 700px){
  .container {
    padding: 40px 80px;
  }
}

a {
  color: #a0f;
  text-decoration: none;
}

li em + a {
  display: inline-block;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid;
}

time { color: #aaa;}

article time {
  display: block;
  text-align: right;
}

input[type="search"] {
  border: 1px solid #777;
  font-family: inherit;
  font-size: smaller;
  padding: 0.2em;
  min-width: 150px;
  max-width: 350px;
}

input[type="search"]:focus {
  border: 1px solid #a0f;
  width: calc(80vw - 200px);
}

footer {
  font-size: smaller;
}

.remarkdown h1 {
  font-weight: bold;
  font-size: larger;
  text-transform: capitalize;
}
.remarkdown h2 {
  font-weight: bold;
}
.remarkdown h2::before {
  color: #aaa;
}
.remarkdown p code {
  color: #999;
}
.remarkdown a code {
  color: inherit;
}
.remarkdown em {
  font-style: italic;
}
.remarkdown strong {
  font-weight: bold;
}
.remarkdown ul {
    margin-left: 2ch;
}
.remarkdown ul > li::before {
    margin-left: -2ch;
}
pre { overflow: auto; }

ul.tags {
  display: inline;
  margin: initial;
}

ul.tags li {
  display: inline;
  list-style: none;
  background-color: #c756ff;
  padding: 0.2em 0.3em;
}

ul.tags li::before {
  content: '';
}

ul.tags li a {
  color: #fff;
}

ul.tags li a::after {
  content: '';
}

ul.tags li a::before {
  content: '';
}
